<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="neprostopleer.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <!--<startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>-->
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite"
           description=".Net Framework Data Provider for SQLite"           type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
  <userSettings>
    <neprostopleer.AppSettings>
      <setting name="MusicCacheDiretory" serializeAs="String">
        <value />
      </setting>
      <setting name="ProceedFetchingOnMovingNext" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MaxFetchAhead" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="PurgeOldFetchedMusic" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="ProtectedStorage" serializeAs="String">
        <value />
      </setting>
    </neprostopleer.AppSettings>
  </userSettings>
</configuration>
